{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            // 設定需要翻譯 es2015 的瀏覽器最低版本
            "edge": 17,
            "firefox": 60,
            "chrome": 67,
            "safari": 11.1
          },
          // 設定針對 es6 有用到的套件在導入
          "useBuiltIns": "usage"
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": ["transform-class-properties"]
}
